# DB
DB_NAME=bothub
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=db
DB_PORT=5432

# Django
DJANGO_SECRET_KEY=зyour-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=example.com,www.example.com

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Payme
PAYME_MERCHANT_ID=your_payme_merchant_id
PAYME_AMOUNT=10000

# Click
CLICK_MERCHANT_ID=your_click_merchant_id
CLICK_SERVICE_ID=your_click_service_id
CLICK_SECRET_KEY=your_click_secret_key

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

